@{
    ViewBag.Title = "Home Page";
}

<form style="margin-top:20px;">
    <div class="form-group">
        <label>名字</label>
        <input type="text" class="form-control" value="Emrys">
    </div>


    <div class="form-group">
        <label>年龄</label>
        <input type="text" class="form-control" value="26">
    </div>

    <div class="form-group">
        <label>爱好</label>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" value="足球" checked="checked"> 足球
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="篮球"> 篮球
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="电影" checked="checked"> 电影
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="小说"> 小说
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="音乐"> 音乐
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>喜欢明星</label>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <input type="text" class="form-control" placeholder="名字" value="成龙">
                    <input type="text" class="form-control" placeholder="年龄" value="63">
                    <input type="text" class="form-control" placeholder="作品" value="十二生肖">
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <input type="text" class="form-control" placeholder="名字" value="刘亦菲">
                    <input type="text" class="form-control" placeholder="年龄" value="18">
                    <input type="text" class="form-control" placeholder="作品" value="功夫之王">
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <input type="text" class="form-control" placeholder="名字" value="胡歌">
                    <input type="text" class="form-control" placeholder="年龄" value="24">
                    <input type="text" class="form-control" placeholder="作品" value="琅琊榜">
                </div>
            </div> 
        </div>

    </div>
</form>

